.swiper {
  width: 600px;
  height: 300px;
}

.swiper .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  width: 85%;
  object-fit: cover;
  aspect-ratio: 8/4;
  border-radius: 25px;
  object-position: center;
}
