body{
    height: 100vh;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper {
    width: 800px;
    height: fit-content;
  }

img{
    width: 96%;
    object-fit: contain;
    aspect-ratio: 9/4;
    /* margin: 0px 10px; */
}


.swiper-wrapper{
    padding: 0px;
}

